* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-content: center;
/*     align-items: center; */
    margin-top:5em;
    margin-bottom:5em;
    background-color: rgb(9, 81, 90);
  }

  .row-1 {
    display: grid;
    grid-template-columns: 300px 180px;
    gap: 10px;
    margin-bottom: 10px;
  }

  .box-1 {
    background-color: rgb(255, 72, 0);
    width: 300px;
    height: 150px;
  }

  .box-2 {
    background-color: rgb(255, 145, 0);
    width: 180px;
    height: 150px;
  }

  .row-2 {
    display: grid;
    grid-template-columns: 230px 250px;
    gap: 10px;
  }

  .box-3 {
    background-color: rgb(22, 153, 22);
    width: 230px;
    height: 200px;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .box-4 {
    background-color: rgb(20, 143, 192);
    width: 250px;
    height: 95px;
  }

  .box-5 {
    background-color: rgb(20, 143, 192);
    width: 250px;
    height: 95px;
  }

  @media (max-width: 425px) {
      body {
      margin-top:20px;
      margin-bottom:20px;
    }
    .row-1 {
      display: grid;
      grid-template-columns: 100px 70px;
      gap: 5px;
      margin-bottom: 10px;
    }

    .box-1 {
      background-color: rgb(255, 72, 0);
      width: 100px;
      height: 100px;
    }

    .box-2 {
      background-color: rgb(255, 145, 0);
      width: 70px;
      height: 100px;
    }

    .row-2 {
      display: grid;
      grid-template-columns: 80px 90px;
      gap: 10px;
    }

    .box-3 {
      background-color: rgb(22, 153, 22);
      width: 80px;
      height: 80px;
    }

    .flex {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .box-4 {
      background-color: rgb(20, 143, 192);
      width: 90px;
      height: 35px;
    }

    .box-5 {
      background-color: rgb(20, 143, 192);
      width: 90px;
      height: 35px;
    }
  }