* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 25px;
    padding: 15px;
    background-color: lightcyan;
    line-height: 1.5em;
  }
  #about {
    margin-left: 12em;
    margin-right: 7em;
  }
  h3 {
    color: midnightblue;
    margin-left: 5px;
  }
  ul {
    margin-left: 10px;
  }
  #nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center; 
    font-size: x-large;
  }
  #img {
    margin-left: 10px;
    float:left;
  }
  #Services {
    clear: left;
  }
  a {
    text-decoration: none;
    color: midnightblue;
  }
  a:hover {
    color: #10703e;
  }
  a:visited {
    color: #a25353
  }
   #list {
    list-style-type: disc;
  }
  address {
    font-size: 20px;
  }
  #submit {
    width: 60px;
    padding: 5px;
    text-align: center;
    background-color: #55559b;
    color: white;
    border:none;
  }
  
  @media (max-width: 320px) {
    #nav {
      gap: 10px;
      justify-content: center; 
      font-size: small;
    }
  }